<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="http://" required="required" value="{{student.avatar_url}}">
  </div>

</div>

<div class="item">
  <div>Membro</div>
  <div>
    <input type="text" name="name" placeholder="Nome do Membro" value="{{student.name}}">
  </div>

</div>

<div class="item">
  <div>E-mail</div>
  <div>
    <input type="email" name="email" placeholder="example@mail.com" value="{{student.email}}">
  </div>

</div>

<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input type="date" name="birth" value="{{student.birth}}">
  </div>

</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span>
      <input type="radio" name="gender" value="M" {{'checked' if (student.gender != 'F')}}>
      Masculino
    </span>
    <span>
      <input type="radio" name="gender" value="F" {{'checked' if (student.gender == 'F')}}>
      Feminino
    </span>
  </div>

  <div class="item">
    <div>Tipo Sanguíneo</div>
    <div>
      <select name="blood">
        <option value="A+" {%  if student.blood == "A+" %} selected="selected" {% endif %}>
          A+
        </option>
        <option value="A-" {%  if student.blood == "A-" %} selected="selected" {% endif %}>
          A-
        </option>
        <option value="B+" {%  if student.blood == "B+" %} selected="selected" {% endif %}>
          B+
        </option>
        <option value="B-" {%  if student.blood == "B-" %} selected="selected" {% endif %}>
          B-
        </option>
        <option value="O+" {%  if student.blood == "O+" %} selected="selected" {% endif %}>
          O+
        </option>
        <option value="O-" {%  if student.blood == "O-" %} selected="selected" {% endif %}>
          O-
        </option>
        <option value="AB+" {%  if student.blood == "AB+" %} selected="selected" {% endif %}>
          AB+
        </option>
        <option value="AB-" {%  if student.blood == "AB-" %} selected="selected" {% endif %}>
          AB-
        </option>
      </select>
    </div>

  </div>

  <div class="item">
    <div>Altura (cm)</div>
    <div>
      <input type="number" name="height" placeholder="170" value="{{student.height}}">
    </div>

  </div>

  <div class="item">
    <div>Peso (Kg)</div>
    <div>
      <input type="number" name="weight" placeholder="70" value="{{student.weight}}">
    </div>

  </div>

</div>

<button type="submit">Salvar</button>