{% extends "layout.njk" %}
{% block content %}

    <div class="card table-container">
      <div class="head">
        <a href="/students/create">Novo</a>
        <form action="/students" method="get">
          <input name="filter" type="text" placeholder="Nome" value={{filter}}>
          <button type="submit">
            <span class="material-icons">filter_alt</span>
          </button>
        </form>
      </div>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Acompanhamento</th>
            <th>Ano Escolar</th>
            <th>Ação</th>
          </tr>
          
        </thead>
        <tbody>
          {% for student in students %}
            <tr>
              <td>
                <div>
                  <span style="background-image: url({{student.avatar_url}})"></span>
                {{student.name}}
                </div>
                
              </td>
              <td>
                <div>
                  {% for subject in student.subjects %}
                    <span>{{subject}}</span>
                  {% endfor %}
                </div>
              </td>
              <td>
                <div>
                  <span>{{student.education_level}}</span>
                </div>
                
              </td>
              <td>
                <a href="/students/{{student.id}}">ver</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}