{% extends "layout.njk" %}
{% block content %}

  <div class="card">
    <section class="avatar" style="background: url({{student.avatar_url}}) no-repeat center center / cover;"></section>
    <section class="details">

      <h3>Detalhes</h3>

      <div class="item">
        <div>Nome</div>
        <div>{{student.name}}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{student.age}}
          Anos</div>
      </div>

      <div class="item">
        <div>Aniversário</div>
        <div>{{student.birth_date}}</div>
      </div>

      <div class="item">
        <div>E-mail</div>
        <div>{{student.email}}</div>
      </div>

      <div class="item">
        <div>Ano de Escolariade</div>

        <div>{{student.education_level}}</div>
      </div>
      
      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for subject in student.subjects %}
            <span>{{subject}}</span>
          {% endfor %}

        </div>
      </div>
      <div class="item">
        <div>Carga Horária Semanal</div>

        <div>{{student.week_hours}}
          horas</div>
      </div>
      <div class="buttons-grid">
        <a class='button' href="/students/{{student.id}}/edit">Editar</a>

        <form id="form-delete" method="POST" action="/students?_method=DELETE">
          <input type="hidden" name="id" value="{{student.id}}">
          <button type="submit">Deletar</button>
        </form>
      </div>

    </section>

  </div>

</section>
</div>
<script>
const formDelete = document.querySelector("#form-delete");
formDelete.addEventListener("submit", function (event) {
  const confirmation = confirm("Deseja Deletar?")
  if (!confirmation) {
    event.preventDefault();
  }
});
</script>
{% endblock %}