/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #112244;
  --secondary-color: #f5fa00;
}
* {
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: 'Roboto', sans-serif;
  
  width: 100%;
  min-height: 90vh;
  background-color: var(--primary-color);
}



header {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  max-height: 75px;
  backdrop-filter: brightness(75%);
}

header .link {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .link  a~a{
  margin-left: 30px;
}

header .chosen {
  font-weight: bold;
  filter: drop-shadow(0 5px 10px);
}

 .link a {
  color: aliceblue;
  transition: ease-in-out 500ms;
}
 .link a:hover {
   font-size: larger;
   transition: ease-in-out 500ms;
 }

 /* CARD */

 .card {
   margin: 45px auto;
   background-color: white;
   width: 800px;
   min-height: 400px;

   display: grid;
   grid-template-columns: 1fr 1fr;
    /* sombra */
   box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.4) ;

   animation: up 1s ease forwards;
  }

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}

 .card section {
   width: 100%;
   height: 100%;
 }

 /* DETAILS */

 .details {
   padding: 32px;
 }

 .details .item {
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 16px 0;
 }

 .details .item:last-child {
   border: none;
 }
 .details h3,
 .details .item div:first-child {
   font-size: 14px;
   line-height: 24px;
   color: #777;
   letter-spacing: 0.7px;
   font-weight: normal;
 }

 .details .item div:nth-child(2) {
   color: #555;
   font-weight: bold;
   font-size: 18px;
 }

 .details h3 {
   text-transform: uppercase;
   font-weight: bold;
   color: var(--primary-color);
 }

 .details .item div:nth-child(2) span {
   display: inline-block;
   padding: 8px 16px;
   background-color: var(--secondary-color);
   border-radius: 16px;
   color: #777;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 12px;
   margin-right: 4px;
   margin-top: 8px;
 }

 /* FORM */

 input {
   width: 100%;
   color: #555;
   font-weight: bold;
   font-size: 18px; 
 }

 input[type="radio"] {
   width: initial;
   margin-right: 4px;
}

input::placeholder{
  font-size: 16px;
  font-weight: normal;
}
a.button,
button[type="submit"] {
  padding: 8px 32px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
}
select {
  font-size: 1.2rem!important;
}


a.button {
  display: block;
  text-align: center;
}

a.button:hover,
button[type="submit"]:hover{
  filter: brightness(110%);
}

#form-delete button[type="submit"] {
  background-color: brown;
  margin-top: 8px;
}

/* INDEX Instructors */
.table-container{
  display: block;
  padding: 40px;
}

.table-container table{
  width: 100%;
  border-spacing: 0;
  
}

.table-container table thead tr {
  text-align: left;
}

.table-container td,
.table-container th {
  padding: 12px;
  border-bottom: 1px solid #d9d9d9;
}

.table-container th {
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
  padding-left: 1.5rem;
}

.table-container tbody tr:last-child td {
  border-bottom: 0;
}
.table-container tbody tr td:first-child div {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
  justify-content: center;

}
.table-container tbody tr td:first-child span {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 3px 1px 6px -2px black;
  border: 2px solid white;
}
.table-container tr th:last-child{
  text-align: center;
  padding-left: 0;
}
.table-container tr td:last-child {
  text-align: center;
}

.table-container tbody tr td:last-child a,
.table-container > a {
  background-color: var(--primary-color);
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  border-radius: 6px;
}

.table-container > a {
  display: inline-block;
  margin: 0 0 16px 8px;

}

.table-container tbody tr td:last-child a:hover,
.table-container > a:hover {
  filter: brightness(150%);
}



.table-container tbody tr td:nth-child(2) div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 4px;
}
.table-container tbody tr td:nth-child(n+2) div span {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  min-width: 100px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 4px;
  margin-top: 8px;
}
